# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints

# Virtual Environment
venv/
env/
ENV/

# macOS
.DS_Store

# Data and Models
*.pkl
*.h5

# IDE
.vscode/
.idea/
